body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    letter-spacing: 0.09rem;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: blue;
}

nav {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Left Section */
nav .left {
    display: flex;
    gap: 15px;
}

nav .left a {
    color: white;
    font-size: 1rem;
    padding: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav .left a:hover {
    color: #007BFF;
}

/* Right Section */
nav .right ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .right ul li {
    display: inline-block;
}

nav .right ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: 600;
}

nav .right ul li a:hover {
    color: #007BFF;
}

#home {
    height: 100vh;
    max-height: 120vh;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('pictures/adrien-olichon-RCAhiGJsUUE-unsplash.jpg') opacity;
    background-size: cover;

}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('pictures/WhatsApp\ Image\ 2025-01-20\ at\ 11.48.20\ AM.jpeg') no-repeat center center;
    background-size: cover;
    opacity: 0.6;
    /* Default opacity of the background image */
    transition: opacity 1s ease;
    /* Smooth transition for opacity change */
    z-index: -1;
    /* Make sure the background stays behind the content */
}

.homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-about {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    animation: slideIn 0.5s ease-out forwards;
}

.homeabout {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideOut 0.5s ease-out forwards;
}

.homeabout p {
    font-size: 1.4rem;
    text-align: center;
}

.heroo-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}

.homecontainer button {
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem 3rem;
    background-color: rgb(0, 77, 128);
    border: 1px solid black;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.homecontainer button a {
    text-decoration: none;
    color: white;
}

.homecontainer button:hover {
    background-color: rgb(0, 126, 175);
    transform: translateY(-5px);
    transform: 0.2s;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(150%);
    }

    to {
        transform: translateX(0);
    }
}

.about-info {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 4rem;
}

.containerabout {
    max-width: 1200px;
}

.aboutcont {
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    word-spacing: 1px;
    line-height: 1.5;
}

.about-container {
    display: flex;
    justify-content: center;
    /* Ensure alignment */
    gap: 80px;
}

.aboutcont,
.skills-vert {
    flex: 1;
}

.rowskill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.aboutcont h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}


.hero-btn {
    justify-content: start;
    margin-top: 3rem;
    padding: 1rem 3rem;
    background-color: rgb(0, 77, 128);
    border: 1px solid black;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.hero-btn a {
    text-decoration: none;
    color: white;
}

.hero-btn:hover {
    background-color: rgb(0, 126, 175);
    transform: translateY(-5px);
    transform: 0.2s;
}

.skillcont h3 {
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.5rem;
}

.skills-vert h3 {
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.5rem;
}

#about {
    height: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #000000;
}

.about-size {
    font-size: 24px;
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: #14a3dc;
    align-items: left;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
}


.underline {
    width: 100px;
    height:5px;
    background: linear-gradient(90deg,rgb(199,27,56),red,rgb(199, 27, 56));
    margin: 10px auto;
    border-radius: 25px;
    margin-bottom: 60px;
}


.yellowcont {
    color: #dc8c14;
}

#skills {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.skillcont {
    text-align: center;
    display: none;
}

.rowskill {
    margin: 0;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.rowskill h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    border: 1px solid rgb(35, 146, 190);
    border-radius: 0.2rem;
    background-color: #000000;
    color: grey;
    animation: float 3s ease-in-out infinite;
}

.rowskill h2:hover {
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.containerproj {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project {
    width: 300px;
    background-color: #222222;
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 10px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-img img {
    width: 100%;
    border-radius: 0.2rem;
}

.protitle {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    color: #eaeaea;
}

.project-links .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 0.2rem;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.project-links .btn:hover {
    background-color: #0056b3;
}


#contact {
    padding: 20px 20px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #242424;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 1rem;
}

form input,
form textarea {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #00bcd4;
    background-color: #444;
}

.contact-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(0, 77, 128);
    border: 1px solid black;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.contact-btn {
    text-decoration: none;
    color: white;
}

.contact-btn:hover {
    background-color: rgb(0, 126, 175);
    transform: translateY(-5px);
    transform: 0.2s;
}

footer {
    background-color: rgba(30, 30, 30, 0.242);
    width: 100%;
    bottom: 0px;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    color: #e0e0e0;
}

.footcon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.footcon a {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: rgb(183, 183, 183);
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    height: auto;

}

.social-links a {
    font-size: 1.2rem;
    margin: 0 1.3rem;
}

.social-links a:hover {
    color: white;
}


#projects {
    scroll-margin-top: 60px;
    /* Adjust this value based on your navbar height */
}


@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    #home {
        max-height: 600px;
    }

    .heading-about {
        font-size: 2rem;
    }

    .homeabout {
        padding: 20px 30px;
    }

    .homeabout p {
        font-size: 1rem;
        text-align: center;
    }

    .homeabout {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homecontainer {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 100%;
        font-size: 30px;
    }

    .aboutcont {
        padding: 0px;
        font-size: 17px;
    }

    .about-info {
        font-size: 1rem;
    }

    .rowskill {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .rowskill h2 {
        font-size: 1rem;
    }

    .skills-vert {
        display: none;
    }

    .skillcont {
        text-align: center;
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .titles {
        font-size: 30px;
    }

    .right {
        display: none;
    }

    .project {
        margin: 20px 30px;
        padding: 20px;
    }

    .project .protitle {
        font-size: 17px;
    }

    .project a {
        font-size: 17px;
    }

    form input,
    form textarea {
        width: 90%;
        padding: 15px;
        margin: 10px 0;
        border: 1px solid #333;
        border-radius: 8px;
        background-color: #333;
        color: #fff;
        font-size: 16px;
    }

    footer {
        background-color: rgb(36, 36, 36);
        margin-top: 20px;
        display: block;
        justify-content: space-evenly;
        align-items: center;
        color: #e0e0e0;
        height: auto;
    }

    .footcon {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
    }

    footer a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}