body {
    margin: 0;
    padding: 0;
    background-color: #09233C;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    letter-spacing: 0.09rem;
    cursor: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M0%2055.2L0%20426c0%2012.2%209.9%2022%2022%2022c6.3%200%2012.4-2.7%2016.6-7.5L121.2%20346l58.1%20116.3c7.9%2015.8%2027.1%2022.2%2042.9%2014.3s22.2-27.1%2014.3-42.9L179.8%20320l118.1%200c12.2%200%2022.1-9.9%2022.1-22.1c0-6.3-2.7-12.3-7.4-16.5L38.6%2037.9C34.3%2034.1%2028.9%2032%2023.2%2032C10.4%2032%200%2042.4%200%2055.2z%22%2F%3E%3C%2Fsvg%3E'), auto;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 10px 50px;
    background: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* Left Section */
nav .left {
    display: flex;
    gap: 15px;
}

nav .left a {
    color: white;
    font-size: 1rem;
    padding: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav .left a:hover {
    color: #007BFF;
}

/* Right Section */
nav .right ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .right ul li {
    display: inline-block;
}

nav .right ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: 600;
}

nav .right ul li a:hover {
    color: #007BFF;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;

}

.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url('pictures/WhatsApp\ Image\ 2025-01-20\ at\ 11.48.20\ AM.jpeg') no-repeat center;
    background-size: cover;
}

.heading-about {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    animation: slideIn 0.5s ease-out forwards;
}

.homeabout {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideOut 0.5s ease-out forwards;
}

.homeabout p {
    font-size: 1.4rem;
    text-align: center;
}

.heroo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.homecontainer button {
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem 3rem;
    background-color: rgb(0, 77, 128);
    border-radius: 0.3rem;
    font-size: 0.9rem;
    border: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.homecontainer button a {
    text-decoration: none;
    color: white;
}

.homecontainer button:hover {
    background-color: rgb(0, 126, 175);
    transform: translateY(-5px);
    transform: 0.2s;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(150%);
    }

    to {
        transform: translateX(0);
    }
}

.about-info {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.containerabout {
    max-width: 1200px;
}

.aboutcont {
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    word-spacing: 1px;
    line-height: 1.5;
}

.about-container {
    display: flex;
    justify-content: center;
    /* Ensure alignment */
    gap: 80px;
}

.aboutcont,
.skills-vert {
    flex: 1;
}

.rowskill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.aboutcont h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}


.hero-btn {
    justify-content: start;
    margin-top: 3rem;
    padding: 1rem 3rem;
    background-color: rgb(0, 77, 128);
    border: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.hero-btn a {
    text-decoration: none;
    color: white;
}

.hero-btn:hover {
    background-color: rgb(0, 126, 175);
    transform: translateY(-5px);
    transform: 0.2s;
}

.skillcont h3 {
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.5rem;
}

.skills-vert h3 {
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.5rem;
}

#about {
    height: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-size {
    font-size: 24px;
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: #14a3dc;
    align-items: left;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
}


.underline {
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, rgb(199, 27, 56), red, rgb(199, 27, 56));
    margin: 10px auto;
    border-radius: 25px;
    margin-bottom: 60px;
}

.project-detail {
    font-size: 0.9rem;
    text-align: left;
}

.yellowcont {
    color: #dc8c14;
}

#skills {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillcont {
    text-align: center;
    display: none;
}

.rowskill {
    margin: 0;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.rowskill h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    border: 1px solid rgb(35, 146, 190);
    border-radius: 0.2rem;
    background-color: #0000001e;
    color: rgb(224, 224, 224);
    animation: float 3s ease-in-out infinite;
}

.rowskill h2:hover {
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.containerproj {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project {
    width: 300px;
    min-height: 380px;
    background-color: rgba(255, 255, 255, 0.034);
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 10px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-img img {
    width: 100%;
    border-radius: 0.2rem;
}

.protitle {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    color: #eaeaea;
}

.project-links .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 0.2rem;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.project-links .btn:hover {
    background-color: #0056b3;
}


#contact {
    padding: 20px 20px;
    background-color: #09233C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(255, 255, 255, 0.034);
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 1rem;
    border-radius: 15px;
}

form input,
form textarea {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 1px;
    background-color: #ffffff15;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #00bcd4;
    background-color: #444;
}

.contact-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(0, 77, 128);
    border: 1px solid black;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.contact-btn {
    text-decoration: none;
    color: white;
}

.contact-btn:hover {
    background-color: rgb(0, 126, 175);
    transform: translateY(-5px);
    transform: 0.2s;
}

footer {
    width: 100%;
    bottom: 0px;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    color: #e0e0e0;
    box-shadow: 1px 1px 5px white;
}

.footcon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.footcon a {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: rgb(183, 183, 183);
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    height: auto;

}

.social-links a {
    font-size: 1.2rem;
    margin: 0 1.3rem;
}

.social-links a:hover {
    color: white;
}


#projects {
    scroll-margin-top: 60px;
    /* Adjust this value based on your navbar height */
}


@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    #home {
        max-height: 600px;
    }

    .heading-about {
        font-size: 1.3rem;
    }

    .homeabout {
        padding: 20px 30px;
    }

    .homeabout p {
        font-size: 1rem;
        text-align: center;
    }

    .homeabout {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homecontainer {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 100%;
        font-size: 30px;
    }

    .aboutcont {
        padding: 0px;
        font-size: 17px;
    }

    .about-info {
        font-size: 1rem;
    }

    .rowskill {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .rowskill h2 {
        font-size: 1rem;
    }

    .skills-vert {
        display: none;
    }

    .skillcont {
        text-align: center;
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .titles {
        font-size: 30px;
    }

    .right {
        display: none;
    }

    .project {
        margin: 20px 30px;
        padding: 20px;
    }

    .project .protitle {
        font-size: 17px;
    }

    .project a {
        font-size: 17px;
    }

    form input,
    form textarea {
        width: 90%;
        padding: 15px;
        margin: 10px 0;
        border: 1px solid #333;
        border-radius: 1px;
        background-color: #ffffff;
        color: #fff;
        font-size: 16px;
    }

    footer {
        margin-top: 20px;
        display: block;
        justify-content: space-evenly;
        align-items: center;
        color: #e0e0e0;
        height: auto;
    }

    .footcon {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
    }

    footer a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}